

.list {
    list-style: none;
    padding-left: 0;
    color: #dce8eb;
    width: 100%;
    text-align: center;
  }

.footer-card{
    border-color:   #777777;
}


  .footer {
    background-color:#232323;
    color: white;
    line-height: 2.75em;
    text-align: center;
    padding: 10% 5% 10% 5%;
  }

.list1:hover{
    text-decoration: underline;
}

.social-contact{
    font-size: 1em;
    font-weight: 500;
}

.social-icons-containers{
    width: 18%;
    height: auto;
    color: grey;
    border: 2% solid grey;
    background-color: white;
    margin: 1%;
}

.contact-us-btn{
    padding: 5% 18% 5% 18%;
    font-size: 1.125em;
    font-weight: 500;
    background-color: #f7d9c4;
    border: 0px solid transparent;
    border-radius: 0.25em;
}

.arrow-icons{
    font-size: 1.25em;
    padding-top: 5%;
}

.about{
    font-weight: 500;
}

.card-description {
    color: #dce8eb;;
}

.social-icons-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen and (min-width:768px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
      }

    .footer-card{
        width: 50%;
    }

    .list{
        text-align: left;
    }

    .social-icons-container{
        display: flex;
        justify-content: flex-start;
    }
}

@media only screen and (min-width:1024px) {
    .footer-card{
        width: 33%;
        border-right: 2% solid grey;
    }

    .list-container {
        display: flex;
    }

    .footer {
        padding: 5% 5% 5% 5%;
      }
}